@import "tailwindcss";

@keyframes scroll {
    0%{transform: translate(0);}
    100%{transform: translate(-50%);}
}
.animate-scroll{
    animation: scroll 30s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}